body {
    background-color: gray;
    font: 1.2em "Fira Sans", serif;
}
/*
#main {
    display: flex;
}
*/

#img {
    float: left;
    width: 350px;
}

#vid {
    float: left;
    width: 350px;
}

#aud {
    float: left;
    width: 350px;
}
